<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="cordova-plugin-flic"
	version="0.2.11">
	<name>Flic</name>
	<description>A Cordova plugin providing access to the Flic SDK</description>
	<license>Apache 2.0</license>
	<keywords>cordova,flic,smart,button,sdk</keywords>
	<repo></repo>
	<issue></issue>

	<js-module src="www/Flic.js" name="Flic">
		<clobbers target="Flic" />
	</js-module>

	<!-- android -->
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<preference name="android-minSdkVersion" value="19" />
			<feature name="Flic" >
				<param name="android-package" value="com.jguix.cordova.Flic"/>
			</feature>
		</config-file>
		<source-file src="src/android/Flic.java" target-dir="src/com/jguix/cordova" />
	</platform>
</plugin>